:root {
    --wrapper-color: rgb(252, 246, 252);
    --bg-color-brown: rgb(158, 109, 82);
    --bg-color-green: rgb(10, 132, 110);
    --bg-card-button: rgb(185, 56, 87);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--wrapper-color);
}

.wrapper {
    min-height: 100vh;
    max-width: 1000px;
    font-family: 'Maven Pro';
    background-color: white;
    margin-bottom: 7rem;
}

aside {
    background-position: center;
    background-repeat: no-repeat;
}

button {
    width: max-content;
    height: 63px;
    padding: 0 1rem;
    background-color: var(--bg-color-green);
    border-radius: 9px;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.hero {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    aside:nth-of-type(1) {
        grid-row: 1 / span 2;
        background-image: url("./imgs/hand.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    aside:nth-of-type(2) {
        grid-row: 1 / 2;
        background-color: var(--bg-color-brown);
        background-image: url("./imgs/seedling.svg");
    }
    
    aside:nth-of-type(3) {
        grid-row: 2 / 2;
        background-color: var(--bg-color-green);
        background-image: url("./imgs/dig.svg");
    }
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    a {
        color: var(--bg-color-green);
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
    }
}

h1 {
    color: var(--bg-color-green);
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2.5rem;
}

.main-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    height: 377px;
    margin: 2.5rem;

    aside:nth-of-type(1) {
        height: 377px;
        width: 377px;
        background-color: var(--bg-color-green);
        border-radius: 50%;
        background-image: url("./imgs/vectorseedpackage.svg");
    }

    aside:nth-of-type(2) {
        grid-column: 2 / span 2;
        align-self: center;
        padding: 0 1rem;

        h2 {
            padding-bottom: 1rem;;
        }

        button {
            margin-left: 55%;
            margin-top: 5%;
        }
    }
}

hr {
    height: 3px;
    width: 30%;
    background-color: var(--bg-color-green);
    margin: 3.5rem 35%;
}

.main-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 32px;
        text-align: center;
    }
    
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 2rem 0;
        gap: 1.5rem;

        article {
            width: 300px;
            height: 390px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

            figure img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover; 
            }

            .card-footer {
                height: 80px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: start;
                align-items: center;
                padding: 0 1rem;

                h3 {
                    font-size: 22px;
                }

                p {
                    font-size: 16px;
                }

                .date {
                    justify-self: end;
                    font-weight: 600;
                }

                button {
                    background-color: var(--bg-card-button);
                    height: 25px;
                    font-size: 12px;
                    letter-spacing: 1px;
                    font-weight: 600;
                    justify-self: end;
                }
            }
        }
    }
}

.main-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    height: 377px;
    margin: 4.5rem 2.5rem;

    aside:nth-of-type(1) {
        grid-column: 1 / span 2;
        align-self: center;
        padding: 0 1rem;

        h2 {
            padding-bottom: 1rem;
        }

        button {
            margin-right: 55%;
            margin-top: 5%;
        }
    }

    aside:nth-of-type(2) {
        height: 377px;
        width: 377px;
        background-color: var(--bg-color-green);
        border-radius: 50%;
        background-image: url("./imgs/plant.svg");
        margin-left: auto;
    }

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    background-image: url("./imgs/earth-with-plants.jpg");
    background-position: center;

    aside {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    aside:nth-of-type(1) {
        background-color: black;
        opacity: .8;
        color: white;
        position: relative;

        h2 {
            font-size: 75px;
        }
        
        .info {
            width: 100%;
            display: flex;
            justify-content: space-around;
            position: absolute;
            bottom: 1rem;
            font-size: 24px;

            figure {
                display: flex;
                align-items: center;
            }
        }
    }
}

.bottom-link {
    height: 60px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-align: center;
    padding: 1rem;

    a {
        color: darkslategray;
        text-decoration: none;
        font-size: 24px;
    }
}