:root {
    --wrapper-color: rgb(252, 246, 252);
    --bg-color-brown: rgb(158, 109, 82);
    --bg-color-green: rgb(10, 132, 110);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--wrapper-color);
}

.wrapper {
    min-height: 100vh;
    max-width: 1000px;
    font-family: 'Maven Pro';
    background-color: white;
}

.hero {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

aside {
    background-position: center;
    background-repeat: no-repeat;
}

.hero aside:nth-of-type(1) {
    grid-row: 1 / span 2;
    background-image: url("./imgs/hand.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero aside:nth-of-type(2) {
    grid-row: 1 / 2;
    background-color: var(--bg-color-brown);
    background-image: url("./imgs/seedling.svg");
}

.hero aside:nth-of-type(3) {
    grid-row: 2 / 2;
    background-color: var(--bg-color-green);
    background-image: url("./imgs/dig.svg");
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

a {
    color: var(--bg-color-green);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

h1 {
    color: var(--bg-color-green);
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2.5rem;
}

.main-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    height: 377px;
    margin: 2.5rem;

    aside:nth-of-type(1) {
        height: 377px;
        width: 377px;
        background-color: var(--bg-color-green);
        border-radius: 50%;
        background-image: url("./imgs/vectorseedpackage.svg");
    }

    aside:nth-of-type(2) {
        grid-column: 2 / span 2;
        align-self: center;
        padding: 0 1rem;

        h2 {
            padding-bottom: 1rem;;
        }

        button {
            width: 179px;
            height: 63px;
            background-color: var(--bg-color-green);
            border-radius: 9px;
            color: white;
            font-size: 24px;
            border: none;
            margin-left: 55%;
            margin-top: 5%;
        }
    }
}